/*INICIO ESTILO FORMULÁRIO*/
.container-fluid form#form_post_perfil{
    border: 1px solid;
    float: left;
    width: 300px;
}

.container-fluid #preview_imagem{
    float: left;
    width: 1000px;
    height: 800px;
    overflow: auto;
}

.container-fluid #preview_imagem img{
    float: left;
}
.container-fluid #preview_imagem canvas{
    float: left;
}
/*FINAL ESTILO FORMULÁRIO*/